
nav {
  /* padding: 0 1rem; */
  background-color: lightblue;
  height: 100px;
}
.logo {
  width: 90px;
  /* margin-top: 0; */
}

.nav-elements {
  display: inline-block;
  margin-left: 1rem;
  /* padding: 0; */
}

.nav-welcome {
  padding: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}






.login-form {
  border: 2px solid #dee2e6;
  width: 30%;
  margin: auto;
  height: 25rem;
}

.forgetPassword {
  display: block;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}